/* use # for id */
#chrome {
    border-radius : 50%;
    position : relative ;
    overflow: hidden;
    height: 210px;
    width: 210px;
    left: 40vw; /*viewport with : for responsiveness , relativeness of 
    width and height give cross device comaptabiliy*/
    top: 30vh;
}

#center{
    background: #0d6cac;
    height: 90px;
    width: 90px;
    margin-left: -45px;
    background: #0d6cac;
    margin-top: -45px;
}
#circle{
    background: orange;
    height: 104px;
    width: 104px;
    margin-top: -48px;
    margin-left: -48px;
} 
#center,#circle{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}   
